<header>
    <div class="navbar navbar-dark bg-dark">
        <div class="container d-flex justify-content-between">
            <a href="{% url 'polls:index' %}" class="navbar-brand d-flex align-items-center">
                <strong>Polls</strong>
            </a>
            {% if user.is_authenticated %}
                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Hi, {{ user.username }}!
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'accounts:logout' %}?next=/">Logout</a>
                    </div>
                </div>
            {% else %}
                <a href="{% url 'accounts:login' %}">Login</a>
            {% endif %}
        </div>
    </div>
</header>
